In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
stock_df = pd.read_csv("Master_Datasets/master_dataset_1577075841.csv")
stock_df.head()

         Date   Open     High    Low  Close    Volume Ticker
0  2019-12-20  69.86  70.2267  69.39  69.94  35091987    XOM
1  2019-12-19  69.99  70.0500  69.24  69.39  13273228    XOM
2  2019-12-18  69.63  70.2900  69.28  69.87  13652100    XOM
3  2019-12-17  69.98  70.3800  69.31  69.68  14450050    XOM
4  2019-12-16  69.70  70.2500  69.70  70.00  15208665    XOM

In [5]:
sector_df = pd.read_csv("Master_Datasets/Query List with Sector.csv")
sector_df.head()

,Unnamed: 0,company,Ticker,occurance,profit ($ millions),revenue ($ millions),year,Industry
0,41,3M,MMM,31,5349.0,32765.0,2019,Industrials
1,36,Abbott Laboratories,ABT,31,5962.9,39873.9,2019,Health Care
2,74,Alcoa,AA,30,2564.0,30896.0,2019,Industrials
3,13,Altria Group,MO,31,14239.0,72944.0,2019,Consumer Staples
4,95,American Electric Power,AEP,25,2047.0,61257.0,2019,Utilities

In [6]:
stock_sector_df = pd.merge(stock_df, sector_df, on="Ticker")
stock_sector_df.head()

,Date,Open,High,Low,Close,Volume,Ticker,Unnamed: 0,company,occurance,profit ($ millions),revenue ($ millions),year,Industry
0,2019-12-20,69.86,70.2267,69.39,69.94,35091987,XOM,0,Exxon Mobil,31,45220.0,452926.0,2019,Energy
1,2019-12-19,69.99,70.0500,69.24,69.39,13273228,XOM,0,Exxon Mobil,31,45220.0,452926.0,2019,Energy
2,2019-12-18,69.63,70.2900,69.28,69.87,13652100,XOM,0,Exxon Mobil,31,45220.0,452926.0,2019,Energy
3,2019-12-17,69.98,70.3800,69.31,69.68,14450050,XOM,0,Exxon Mobil,31,45220.0,452926.0,2019,Energy
4,2019-12-16,69.70,70.2500,69.70,70.00,15208665,XOM,0,Exxon Mobil,31,45220.0,452926.0,2019,Energy

In [7]:
stock_sector_df = stock_sector_df[['Date', 'Close', 'Ticker', 'company', 'Industry']]
stock_sector_df.head()

         Date  Close Ticker      company Industry
0  2019-12-20  69.94    XOM  Exxon Mobil   Energy
1  2019-12-19  69.39    XOM  Exxon Mobil   Energy
2  2019-12-18  69.87    XOM  Exxon Mobil   Energy
3  2019-12-17  69.68    XOM  Exxon Mobil   Energy
4  2019-12-16  70.00    XOM  Exxon Mobil   Energy

In [8]:
stock_sector_df['Date'] = stock_df['Date'].apply(pd.to_datetime)

In [9]:
stock_sector_df.count()

Date        770353
Close       921373
Ticker      740149
company     921373
Industry    921373
dtype: int64

In [60]:
clean_stock_df = stock_sector_df.dropna(how="any")

In [61]:
clean_stock_df = clean_stock_df.set_index('Date')
clean_stock_df

            Close Ticker           company     Industry
Date
2019-12-20  69.94    XOM       Exxon Mobil       Energy
2019-12-19  69.39    XOM       Exxon Mobil       Energy
2019-12-18  69.87    XOM       Exxon Mobil       Energy
2019-12-17  69.68    XOM       Exxon Mobil       Energy
2019-12-16  70.00    XOM       Exxon Mobil       Energy
...           ...    ...               ...          ...
1999-12-27  43.65    THC  Tenet Healthcare  Health Care
1999-12-23  44.12    THC  Tenet Healthcare  Health Care
1999-12-22  44.07    THC  Tenet Healthcare  Health Care
1999-12-21  44.34    THC  Tenet Healthcare  Health Care
1999-12-20  43.93    THC  Tenet Healthcare  Health Care

[589129 rows x 4 columns]

In [62]:
ticker_list = clean_stock_df['Ticker'].unique()

In [70]:
rec_beg_1 = clean_stock_df.loc[clean_stock_df.index =='2001-01-31']
rec_end_1 = clean_stock_df.loc[clean_stock_df.index =='2001-09-28']
rec_beg_2 = clean_stock_df.loc[clean_stock_df.index =='2007-09-28']
rec_end_2 = clean_stock_df.loc[clean_stock_df.index =='2009-02-27']

In [76]:
rec_end_1

               Close Ticker             company                Industry
Date
2001-09-28     39.40    XOM         Exxon Mobil                  Energy
2001-09-28  70000.00  BRK-A  Berkshire Hathaway              Financials
2001-09-28     47.12      T                AT&T  Communication Services
2001-09-28     40.50      C           Citigroup              Financials
2001-09-28     51.17   MSFT           Microsoft  Information Technology
...              ...    ...                 ...                     ...
2001-09-28     29.72    BDX    Becton Dickinson             Health Care
2001-09-28     18.28    GPS                 Gap  Consumer Discretionary
2001-09-28     53.10    CPB       Campbell Soup        Consumer Staples
2001-09-28      8.21    JCP         J.C. Penney  Consumer Discretionary
2001-09-28     33.97    THC    Tenet Healthcare             Health Care

[113 rows x 4 columns]

In [78]:
rec_1_df = pd.merge(rec_beg_1, rec_end_1, on="Ticker")
rec_1_df.head()

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y
0,84.15,XOM,Exxon Mobil,Energy,39.40,Exxon Mobil,Energy
1,68400.00,BRK-A,Berkshire Hathaway,Financials,70000.00,Berkshire Hathaway,Financials
2,48.35,T,AT&T,Communication Services,47.12,AT&T,Communication Services
3,55.97,C,Citigroup,Financials,40.50,Citigroup,Financials
4,61.06,MSFT,Microsoft,Information Technology,51.17,Microsoft,Information Technology

In [89]:
rec_1_df['Delta'] = (rec_1_df['Close_y'] - rec_1_df['Close_x'])/rec_1_df['Close_x']
rec_1_df

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
0,84.15,XOM,Exxon Mobil,Energy,39.40,Exxon Mobil,Energy,-0.531788
1,68400.00,BRK-A,Berkshire Hathaway,Financials,70000.00,Berkshire Hathaway,Financials,0.023392
2,48.35,T,AT&T,Communication Services,47.12,AT&T,Communication Services,-0.025440
3,55.97,C,Citigroup,Financials,40.50,Citigroup,Financials,-0.276398
4,61.06,MSFT,Microsoft,Information Technology,51.17,Microsoft,Information Technology,-0.161972
...,...,...,...,...,...,...,...,...
108,36.18,BDX,Becton Dickinson,Health Care,29.72,Becton Dickinson,Health Care,-0.178552
109,20.97,GPS,Gap,Consumer Discretionary,18.28,Gap,Consumer Discretionary,-0.128278
110,46.23,CPB,Campbell Soup,Consumer Staples,53.10,Campbell Soup,Consumer Staples,0.148605
111,9.08,JCP,J.C. Penney,Consumer Discretionary,8.21,J.C. Penney,Consumer Discretionary,-0.095815
112,50.34,THC,Tenet Healthcare,Health Care,33.97,Tenet Healthcare,Health Care,-0.325189

In [91]:
rec_1_df.sort_values(by='Delta', ascending=False)

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
82,4.00,RAD,Rite Aid,Consumer Staples,7.48,Rite Aid,Consumer Staples,0.870000
88,36.38,PPL,PPL,Utilities,54.41,PPL,Utilities,0.495602
66,93.95,PGR,Progressive,Financials,133.90,Progressive,Financials,0.425226
84,37.50,AEP,American Electric Power,Utilities,49.43,American Electric Power,Utilities,0.318133
86,19.06,WM,Waste Management,Industrials,24.68,Waste Management,Industrials,0.294858
...,...,...,...,...,...,...,...,...
48,31.33,LUV,Southwest Airlines,Industrials,14.84,Southwest Airlines,Industrials,-0.526333
0,84.15,XOM,Exxon Mobil,Energy,39.40,Exxon Mobil,Energy,-0.531788
102,76.93,BBY,Best Buy,Consumer Discretionary,25.58,Best Buy,Consumer Discretionary,-0.667490
94,29.45,NAV,Navistar International,Consumer Discretionary,9.16,Navistar International,Consumer Discretionary,-0.688964
37,56.71,GLW,Corning,Information Technology,8.82,Corning,Information Technology,-0.844472

In [92]:
rec_1_top5 = rec_1_df.nlargest(5, 'Delta')
rec_1_top5

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
82,4.00,RAD,Rite Aid,Consumer Staples,7.48,Rite Aid,Consumer Staples,0.870000
88,36.38,PPL,PPL,Utilities,54.41,PPL,Utilities,0.495602
66,93.95,PGR,Progressive,Financials,133.90,Progressive,Financials,0.425226
84,37.50,AEP,American Electric Power,Utilities,49.43,American Electric Power,Utilities,0.318133
86,19.06,WM,Waste Management,Industrials,24.68,Waste Management,Industrials,0.294858

In [94]:
rec_1_bot5 = rec_1_df.nsmallest(5, 'Delta')
rec_1_bot5

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
37,56.71,GLW,Corning,Information Technology,8.82,Corning,Information Technology,-0.844472
94,29.45,NAV,Navistar International,Consumer Discretionary,9.16,Navistar International,Consumer Discretionary,-0.688964
102,76.93,BBY,Best Buy,Consumer Discretionary,25.58,Best Buy,Consumer Discretionary,-0.667490
0,84.15,XOM,Exxon Mobil,Energy,39.40,Exxon Mobil,Energy,-0.531788
48,31.33,LUV,Southwest Airlines,Industrials,14.84,Southwest Airlines,Industrials,-0.526333

In [96]:
rec_1_ind_df = rec_1_df.groupby('Industry_y').mean()
rec_1_ind_df

                            Close_x      Close_y     Delta
Industry_y
Communication Services    41.026667    33.346667 -0.167227
Consumer Discretionary    37.424444    25.378889 -0.268998
Consumer Staples          41.676667    41.880000  0.047765
Energy                    43.633750    32.291250 -0.200141
Financials              5760.083333  5883.589167 -0.157249
Health Care               61.589375    52.429375 -0.102761
Industrials               50.322692    44.958077 -0.089990
Information Technology    43.233333    23.725000 -0.418402
Materials                 75.034286    78.275714  0.010268
Real Estate               27.730000    33.520000  0.208799
Utilities                 35.710000    37.345000  0.074943

In [100]:
rec_1_err_df = rec_1_df.groupby('Industry_y').agg({'Delta':['var','mean']})
rec_1_err_df

                           Delta
                             var      mean
Industry_y
Communication Services  0.032534 -0.167227
Consumer Discretionary  0.067125 -0.268998
Consumer Staples        0.065243  0.047765
Energy                  0.051538 -0.200141
Financials              0.063679 -0.157249
Health Care             0.041934 -0.102761
Industrials             0.051127 -0.089990
Information Technology  0.059957 -0.418402
Materials               0.022548  0.010268
Real Estate                  NaN  0.208799
Utilities               0.049847  0.074943

In [101]:
rec_2_df = pd.merge(rec_beg_2, rec_end_2, on="Ticker")
rec_2_df.head()

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y
0,92.56,XOM,Exxon Mobil,Energy,67.90,Exxon Mobil,Energy
1,118510.00,BRK-A,Berkshire Hathaway,Financials,78600.00,Berkshire Hathaway,Financials
2,42.31,T,AT&T,Communication Services,23.77,AT&T,Communication Services
3,46.67,C,Citigroup,Financials,1.50,Citigroup,Financials
4,29.46,MSFT,Microsoft,Information Technology,16.15,Microsoft,Information Technology

In [102]:
rec_2_df['Delta'] = (rec_2_df['Close_y'] - rec_2_df['Close_x'])/rec_2_df['Close_x']
rec_2_df

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
0,92.56,XOM,Exxon Mobil,Energy,67.9000,Exxon Mobil,Energy,-0.266422
1,118510.00,BRK-A,Berkshire Hathaway,Financials,78600.0000,Berkshire Hathaway,Financials,-0.336765
2,42.31,T,AT&T,Communication Services,23.7700,AT&T,Communication Services,-0.438194
3,46.67,C,Citigroup,Financials,1.5000,Citigroup,Financials,-0.967859
4,29.46,MSFT,Microsoft,Information Technology,16.1500,Microsoft,Information Technology,-0.451799
...,...,...,...,...,...,...,...,...
113,95.06,LEA,Lear,Industrials,115.2000,Lear,Industrials,0.211866
114,23.36,GPS,Gap,Consumer Discretionary,45.9000,Gap,Consumer Discretionary,0.964897
115,1.28,VFF,VF,Consumer Discretionary,0.8422,VF,Consumer Discretionary,-0.342031
116,29.30,CPB,Campbell Soup,Consumer Staples,22.0300,Campbell Soup,Consumer Staples,-0.248123
117,26.91,JCP,J.C. Penney,Consumer Discretionary,17.0600,J.C. Penney,Consumer Discretionary,-0.366035

In [103]:
rec_2_df.sort_values(by='Delta', ascending=False)

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
96,4.80,CNP,CenterPoint Energy,Utilities,12.21,CenterPoint Energy,Utilities,1.543750
106,19.89,BBY,Best Buy,Consumer Discretionary,46.49,Best Buy,Consumer Discretionary,1.337355
105,27.33,ROK,Rockwell Automation,Industrials,61.27,Rockwell Automation,Industrials,1.241859
109,30.49,EMN,Eastman Chemical,Materials,67.41,Eastman Chemical,Materials,1.210889
111,17.98,OI,Owens-Illinois,Industrials,35.61,Owens-Illinois,Industrials,0.980534
...,...,...,...,...,...,...,...,...
72,30.41,GT,Goodyear Tire & Rubber,Industrials,4.44,Goodyear Tire & Rubber,Industrials,-0.853995
86,6.21,RAD,Rite Aid,Consumer Staples,0.89,Rite Aid,Consumer Staples,-0.856683
61,31.50,CBS,CBS,Communication Services,4.27,CBS,Communication Services,-0.864444
80,62.21,TXT,Textron,Industrials,5.65,Textron,Industrials,-0.909179
3,46.67,C,Citigroup,Financials,1.50,Citigroup,Financials,-0.967859

In [104]:
rec_2_top5 = rec_2_df.nlargest(5, 'Delta')
rec_2_top5

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
96,4.80,CNP,CenterPoint Energy,Utilities,12.21,CenterPoint Energy,Utilities,1.543750
106,19.89,BBY,Best Buy,Consumer Discretionary,46.49,Best Buy,Consumer Discretionary,1.337355
105,27.33,ROK,Rockwell Automation,Industrials,61.27,Rockwell Automation,Industrials,1.241859
109,30.49,EMN,Eastman Chemical,Materials,67.41,Eastman Chemical,Materials,1.210889
111,17.98,OI,Owens-Illinois,Industrials,35.61,Owens-Illinois,Industrials,0.980534

In [105]:
rec_2_bot5 = rec_2_df.nsmallest(5, 'Delta')
rec_2_bot5

,Close_x,Ticker,company_x,Industry_x,Close_y,company_y,Industry_y,Delta
3,46.67,C,Citigroup,Financials,1.50,Citigroup,Financials,-0.967859
80,62.21,TXT,Textron,Industrials,5.65,Textron,Industrials,-0.909179
61,31.50,CBS,CBS,Communication Services,4.27,CBS,Communication Services,-0.864444
86,6.21,RAD,Rite Aid,Consumer Staples,0.89,Rite Aid,Consumer Staples,-0.856683
72,30.41,GT,Goodyear Tire & Rubber,Industrials,4.44,Goodyear Tire & Rubber,Industrials,-0.853995

In [106]:
rec_2_ind_df = rec_2_df.groupby('Industry_y').mean()
rec_2_ind_df

                            Close_x      Close_y     Delta
Industry_y
Communication Services    32.785000    12.765000 -0.623036
Consumer Discretionary    30.403000    25.521220 -0.086556
Consumer Staples          48.314000    35.919333 -0.257014
Energy                    66.430000    32.086250 -0.531750
Financials              9160.642308  6062.866154 -0.542075
Health Care               55.242000    36.302667 -0.351152
Industrials               66.974483    32.883103 -0.423490
Information Technology    23.908333    12.301667 -0.324613
Materials                 44.881429    31.130000 -0.174490
Real Estate               50.570000    60.230000  0.191022
Utilities                 50.924000    35.272000 -0.113940

In [107]:
rec_2_err_df = rec_2_df.groupby('Industry_y').agg({'Delta':['var','mean']})
rec_2_err_df

                           Delta
                             var      mean
Industry_y
Communication Services  0.031419 -0.623036
Consumer Discretionary  0.457919 -0.086556
Consumer Staples        0.105544 -0.257014
Energy                  0.037973 -0.531750
Financials              0.101446 -0.542075
Health Care             0.059099 -0.351152
Industrials             0.245253 -0.423490
Information Technology  0.278216 -0.324613
Materials               0.567773 -0.174490
Real Estate                  NaN  0.191022
Utilities               0.371446 -0.113940