# Stock_Query
This script runs the output of the Query_List.ipynb (Query_List.csv) and returns 20 years of daily-time series data for each stock. Data is pulled from the Alpha Vantage API. Data is then to be used in analytica for research.

Script PFD:

1. FortuneList Sorting 
2. Ticker_Lookup(in FortuneList) 
3. Symbol_Corrections(in FortuneList) 
4. Stock_Query 
5. StockMarketCrash_Analytica

In [9]:
# importing dependencies
import time
import pandas as pd
from config import api_key_av
import requests


# reading in query_list for required tickers
query_list = pd.read_csv('../Resources/Query_List.csv')
query_list['ticker'].tolist()
tickers = ['ARNC', 'MSFT', 'KO', 'ODP', 'OMX', 'GE']

# terminal print out of script performance
print(f'''
!Query Initiated!
-----------------
''')


# creating hard-coded values (for ease of future expansion)
max_call = 5 #calls per minute allowed by Alpha Vantage
wait_time = 60

# creating loop counters & summary stat counters
success = 0 #success API call counter
failed = 0 #failed API call counter
pull_time = 0 #future pull time variable
counter = 0 #API call counter

# creating master dataframe (to append to)
master_df = pd.DataFrame(columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Ticker'])

# primary loop for ticker call list to API
for record, ticker in enumerate(tickers):
    
    # setting API call parameters (ticker)
    params = {
        'function' : 'TIME_SERIES_DAILY',
        'symbol' : ticker,
        'outputsize' : 'full',
        'datatype' : 'json',
        'apikey' : api_key_av
    }
    
    # base API call URL
    url = 'https://www.alphavantage.co/query?'
    
    # updating time to now
    now = time.time()
    
    # API call wait function (limited to 5 calls per minute); is utilized after counter resets from 5 to 0
    if counter == 0:
        while now < pull_time:
            now = time.time()
    
    # if statement verifying proper time and counter for being able to make a successful API call
    if pull_time < now and counter < max_call:
        
        # trying API call and skipping if failed for any reason
        try:
            
            # making API call and storing data into variable
            response = requests.get(url, params).json()
                                    
            # THE MEAT AND POTATOS
            # creating main ticker dataframe
            ticker_df = pd.DataFrame(response['Time Series (Daily)']).transpose().reset_index()
            
            # renaming columns to better indicators
            ticker_df = ticker_df.rename(columns={
                'index':'Date',
                '1. open':'Open',
                '2. high':'High',
                '3. low':'Low',
                '4. close':'Close',
                '5. volume':'Volume'
            })
            
            # pulling ticker symbol for confirmation purposes from API
            ticker_df['Ticker'] = response['Meta Data']['2. Symbol']
            
            
            # appending items to master dataframe
            master_df = master_df.append(ticker_df)
            
            row_count = ticker_df['Date'].count()
            
            print(f'Record {record + 1} out of {len(tickers)} processed. {ticker} : SUCCESS({row_count} rows)')
            
            success += 1
            counter += 1
            
            # resetting counter to 0 to initiate next call limit & wait function
            if counter == max_call:
                pull_time = int(time.time()) + wait_time
                counter = 0
                
        # handeling failed API calls
        except:
            print(f'Record {record + 1} out of {len(tickers)} processed. {ticker} : FAILED')
            print(response)
            failed += 1


# writing master dataframe to csv, indicating now timestamp to keep from overwritting accidentally
master_df.to_csv(f'../Resources/Master_Datasets/master_dataset_{int(now)}.csv', index=False)


# terminal print out of script performance
print(f'''
DONE
------------------
Query Summary
Success: {success} 
Failed: {failed}
Total: {record + 1}
''')

!Query Initiated!
-----------------

Record 1 out of 6 processed. ARNC : SUCCESS(5034 rows)
Record 2 out of 6 processed. MSFT : SUCCESS(5034 rows)
Record 3 out of 6 processed. KO : SUCCESS(5034 rows)
Record 4 out of 6 processed. ODP : SUCCESS(5034 rows)
Record 5 out of 6 processed. OMX : SUCCESS(1726 rows)
Record 6 out of 6 processed. GE : SUCCESS(5034 rows)

DONE
------------------
Query Summary
Success: 6
Failed: 0
Total: 6

In [6]:
# importing dependencies
import time
import pandas as pd
from config import api_key_av
import requests


# reading in query_list for required tickers
query_list = pd.read_csv('../Resources/Query_List.csv')

tickers = query_list['ticker'].tolist()
# ['ARNC', 'MSFT', 'KO', 'ODP', 'OMX', 'GE']

# terminal print out of script performance
print(f'''
!Query Initiated!
-----------------
''')

# creating limit response note from AV
bad_call = 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'


# creating loop counters & summary stat counters
success = 0 #success API call counter
failed = 0 #failed API call counter

# creating master dataframe (to append to)
master_df = pd.DataFrame(columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Ticker'])

# primary loop for ticker call list to API
for record, ticker in enumerate(tickers):
    
    # setting API call parameters (ticker)
    params = {
        'function' : 'TIME_SERIES_DAILY',
        'symbol' : ticker,
        'outputsize' : 'full',
        'datatype' : 'json',
        'apikey' : api_key_av
    }
    
    # base API call URL
    url = 'https://www.alphavantage.co/query?'


    # trying API call and skipping if failed for any reason
    try:
        
        # making API call and storing data into variable
        response = requests.get(url, params).json()
        
        try:
            if response['Note'] == bad_call:
                while response['Note'] == bad_call:
                    response = requests.get(url, params).json()

        except:

            # THE MEAT AND POTATOS
            # creating main ticker dataframe
            ticker_df = pd.DataFrame(response['Time Series (Daily)']).transpose().reset_index()

            # renaming columns to better indicators
            ticker_df = ticker_df.rename(columns={
                'index':'Date',
                '1. open':'Open',
                '2. high':'High',
                '3. low':'Low',
                '4. close':'Close',
                '5. volume':'Volume'
            })

            # pulling ticker symbol for confirmation purposes from API
            ticker_df['Ticker'] = response['Meta Data']['2. Symbol']


            # appending items to master dataframe
            master_df = master_df.append(ticker_df)

            row_count = ticker_df['Date'].count()

            print(f'Record {record + 1} out of {len(tickers)} processed. {ticker} : SUCCESS({row_count} rows)')

            success += 1


    # handeling failed API calls
    except:
        print(f'Record {record + 1} out of {len(tickers)} processed. {ticker} : FAILED')

        failed += 1


# writing master dataframe to csv, indicating now timestamp to keep from overwritting accidentally
master_df.to_csv(f'../Resources/Master_Datasets/master_dataset_{int(now)}.csv', index=False)


# terminal print out of script performance
print(f'''
DONE
------------------
Query Summary
Success: {success} 
Failed: {failed}
Total: {record + 1}
''')

!Query Initiated!
-----------------

Record 1 out of 164 processed. XOM : SUCCESS(5034 rows)
Record 2 out of 164 processed. BRK-A : SUCCESS(5034 rows)
Record 3 out of 164 processed. T : SUCCESS(5034 rows)
Record 4 out of 164 processed. C : SUCCESS(5034 rows)
Record 5 out of 164 processed. MSFT : SUCCESS(5034 rows)
Record 6 out of 164 processed. WFC : SUCCESS(5034 rows)
Record 7 out of 164 processed. GE : SUCCESS(5034 rows)
Record 8 out of 164 processed. F : SUCCESS(5034 rows)
Record 9 out of 164 processed. PFE : SUCCESS(5034 rows)
Record 10 out of 164 processed. INTC : SUCCESS(5034 rows)
Record 11 out of 164 processed. JNJ : SUCCESS(5034 rows)
Record 12 out of 164 processed. COP : SUCCESS(5034 rows)
Record 13 out of 164 processed. PG : SUCCESS(5034 rows)
Record 14 out of 164 processed. MO : SUCCESS(5034 rows)
Record 15 out of 164 processed. MRK : SUCCESS(5034 rows)
Record 16 out of 164 processed. PEP : SUCCESS(5034 rows)
Record 17 out of 164 processed. UNH : SUCCESS(5034 rows)
Record 18 out of 164 processed. KO : SUCCESS(5034 rows)
Record 19 out of 164 processed. HD : SUCCESS(5034 rows)
Record 20 out of 164 processed. UNP : SUCCESS(5034 rows)
Record 21 out of 164 processed. BMY : SUCCESS(5034 rows)
Record 22 out of 164 processed. DAL : SUCCESS(3183 rows)
Record 23 out of 164 processed. BA : SUCCESS(5034 rows)
Record 24 out of 164 processed. GM : SUCCESS(2288 rows)
Record 25 out of 164 processed. HPE : SUCCESS(1052 rows)
Record 26 out of 164 processed. MS : SUCCESS(5034 rows)
Record 27 out of 164 processed. OC : SUCCESS(3307 rows)
Record 28 out of 164 processed. DD : SUCCESS(142 rows)
Record 29 out of 164 processed. DOW : SUCCESS(193 rows)
Record 30 out of 164 processed. UTX : SUCCESS(5034 rows)
Record 31 out of 164 processed. USB : SUCCESS(5034 rows)
Record 32 out of 164 processed. MET : SUCCESS(4960 rows)
Record 33 out of 164 processed. AXP : SUCCESS(5034 rows)
Record 34 out of 164 processed. OXY : SUCCESS(5034 rows)
Record 35 out of 164 processed. TWX : SUCCESS(4652 rows)
Record 36 out of 164 processed. CAT : SUCCESS(5034 rows)
Record 37 out of 164 processed. ABT : SUCCESS(5034 rows)
Record 38 out of 164 processed. TXN : SUCCESS(5034 rows)
Record 39 out of 164 processed. CSX : SUCCESS(5034 rows)
Record 40 out of 164 processed. VLO : SUCCESS(5034 rows)
Record 41 out of 164 processed. NSC : SUCCESS(5034 rows)
Record 42 out of 164 processed. MMM : SUCCESS(5034 rows)
Record 43 out of 164 processed. LMT : SUCCESS(5034 rows)
Record 44 out of 164 processed. GLW : SUCCESS(5034 rows)
Record 45 out of 164 processed. MRO : SUCCESS(5034 rows)
Record 46 out of 164 processed. MCK : SUCCESS(5034 rows)
Record 47 out of 164 processed. LLY : SUCCESS(5034 rows)
Record 48 out of 164 processed. BAX : SUCCESS(5034 rows)
Record 49 out of 164 processed. FDX : SUCCESS(5034 rows)
Record 50 out of 164 processed. L : SUCCESS(5034 rows)
Record 51 out of 164 processed. NKE : SUCCESS(5034 rows)
Record 52 out of 164 processed. EXC : SUCCESS(5034 rows)
Record 53 out of 164 processed. DE : SUCCESS(5034 rows)
Record 54 out of 164 processed. HAL : SUCCESS(5034 rows)
Record 55 out of 164 processed. LUV : SUCCESS(5034 rows)
Record 56 out of 164 processed. AMAT : SUCCESS(5034 rows)
Record 57 out of 164 processed. TGT : SUCCESS(5034 rows)
Record 58 out of 164 processed. DHR : SUCCESS(5034 rows)
Record 59 out of 164 processed. GD : SUCCESS(5034 rows)
Record 60 out of 164 processed. PPG : SUCCESS(5034 rows)
Record 61 out of 164 processed. NOC : SUCCESS(5034 rows)
Record 62 out of 164 processed. KR : SUCCESS(5034 rows)
Record 63 out of 164 processed. TJX : SUCCESS(5034 rows)
Record 64 out of 164 processed. DUK : SUCCESS(5034 rows)
Record 65 out of 164 processed. TSN : SUCCESS(5034 rows)
Record 66 out of 164 processed. CBS : SUCCESS(3524 rows)
Record 67 out of 164 processed. ITW : SUCCESS(5034 rows)
Record 68 out of 164 processed. RTN : SUCCESS(5034 rows)
Record 69 out of 164 processed. SEE : SUCCESS(5034 rows)
Record 70 out of 164 processed. STI : SUCCESS(5024 rows)
Record 71 out of 164 processed. MON : SUCCESS(4437 rows)
Record 72 out of 164 processed. EMR : SUCCESS(5034 rows)
Record 73 out of 164 processed. CI : SUCCESS(5034 rows)
Record 74 out of 164 processed. PGR : SUCCESS(5034 rows)
Record 75 out of 164 processed. AA : SUCCESS(790 rows)
Record 76 out of 164 processed. MMC : SUCCESS(5034 rows)
Record 77 out of 164 processed. CL : SUCCESS(5034 rows)
Record 78 out of 164 processed. GT : SUCCESS(5034 rows)
Record 79 out of 164 processed. SO : SUCCESS(5034 rows)
Record 80 out of 164 processed. HUM : SUCCESS(5034 rows)
Record 81 out of 164 processed. BHI : SUCCESS(4413 rows)
Record 82 out of 164 processed. VIAB : SUCCESS(3524 rows)
Record 83 out of 164 processed. PUSH : SUCCESS(2399 rows)
Record 84 out of 164 processed. NUE : SUCCESS(5034 rows)
Record 85 out of 164 processed. KMB : SUCCESS(5034 rows)
Record 86 out of 164 processed. ADM : SUCCESS(5034 rows)
Record 87 out of 164 processed. TXT : SUCCESS(5034 rows)
Record 88 out of 164 processed. PCAR : SUCCESS(5034 rows)
Record 89 out of 164 processed. WMB : SUCCESS(5034 rows)
Record 90 out of 164 processed. IP : SUCCESS(5034 rows)
Record 91 out of 164 processed. CMI : SUCCESS(5034 rows)
Record 92 out of 164 processed. GIS : SUCCESS(5034 rows)
Record 93 out of 164 processed. nan : SUCCESS(5034 rows)
Record 94 out of 164 processed. RAD : SUCCESS(5034 rows)
Record 95 out of 164 processed. LNC : SUCCESS(5034 rows)
Record 96 out of 164 processed. AEP : SUCCESS(5034 rows)
Record 97 out of 164 processed. ASH : SUCCESS(5034 rows)
Record 98 out of 164 processed. WM : SUCCESS(5034 rows)
Record 99 out of 164 processed. CAH : SUCCESS(5034 rows)
Record 100 out of 164 processed. PPL : SUCCESS(5034 rows)
Record 101 out of 164 processed. FDC : SUCCESS(957 rows)
Record 102 out of 164 processed. nan : SUCCESS(5034 rows)
Record 103 out of 164 processed. NWE : SUCCESS(3017 rows)
Record 104 out of 164 processed. WY : SUCCESS(5034 rows)
Record 105 out of 164 processed. K : SUCCESS(5034 rows)
Record 106 out of 164 processed. CNP : SUCCESS(5034 rows)
Record 107 out of 164 processed. SHW : SUCCESS(5034 rows)
Record 108 out of 164 processed. PX : SUCCESS(4747 rows)
Record 109 out of 164 processed. NAV : SUCCESS(5034 rows)
Record 110 out of 164 processed. GCI : SUCCESS(1482 rows)
Record 111 out of 164 processed. PEG : SUCCESS(5034 rows)
Record 112 out of 164 processed. ABC : SUCCESS(5034 rows)
Record 113 out of 164 processed. JCI : SUCCESS(5034 rows)
Record 114 out of 164 processed. EIX : SUCCESS(5034 rows)
Record 115 out of 164 processed. ED : SUCCESS(5034 rows)
Record 116 out of 164 processed. ROK : SUCCESS(5034 rows)
Record 117 out of 164 processed. BBY : SUCCESS(5034 rows)
Record 118 out of 164 processed. XRX : SUCCESS(5034 rows)
Record 119 out of 164 processed. SYY : SUCCESS(5034 rows)
Record 120 out of 164 processed. EMN : SUCCESS(5034 rows)
Record 121 out of 164 processed. ETR : SUCCESS(5034 rows)
Record 122 out of 164 processed. OI : SUCCESS(5034 rows)
Record 123 out of 164 processed. BDX : SUCCESS(5034 rows)
Record 124 out of 164 processed. LEA : SUCCESS(2547 rows)
Record 125 out of 164 processed. GPS : SUCCESS(5034 rows)
Record 126 out of 164 processed. nan : SUCCESS(5034 rows)
Record 127 out of 164 processed. VFF : SUCCESS(2453 rows)
Record 128 out of 164 processed. CPB : SUCCESS(5034 rows)
Record 129 out of 164 processed. JCP : SUCCESS(5034 rows)
Record 130 out of 164 processed. THC : SUCCESS(5034 rows)
Record 131 out of 164 processed. DTE : SUCCESS(5034 rows)
Record 132 out of 164 processed. CLX : SUCCESS(5034 rows)
Record 133 out of 164 processed. MHFI : FAILED
Record 134 out of 164 processed. nan : SUCCESS(5034 rows)
Record 135 out of 164 processed. HRL : SUCCESS(5034 rows)
Record 136 out of 164 processed. DOV : SUCCESS(5034 rows)
Record 137 out of 164 processed. CAG : SUCCESS(5034 rows)
Record 138 out of 164 processed. MAS : SUCCESS(5034 rows)
Record 139 out of 164 processed. MAT : SUCCESS(5034 rows)
Record 140 out of 164 processed. WHR : SUCCESS(5034 rows)
Record 141 out of 164 processed. AVP : SUCCESS(5034 rows)
Record 142 out of 164 processed. DF : SUCCESS(5034 rows)
Record 143 out of 164 processed. GPC : SUCCESS(5034 rows)
Record 144 out of 164 processed. GWW : SUCCESS(5034 rows)

Record 145 out of 164 processed. R : SUCCESS(5034 rows)
Record 146 out of 164 processed. nan : SUCCESS(5034 rows)
Record 147 out of 164 processed. JWN : SUCCESS(5034 rows)
Record 148 out of 164 processed. ARW : SUCCESS(5034 rows)
Record 149 out of 164 processed. AVT : SUCCESS(5034 rows)
Record 150 out of 164 processed. FL : SUCCESS(5034 rows)
Record 151 out of 164 processed. CMS : SUCCESS(5034 rows)
Record 152 out of 164 processed. SVU : SUCCESS(4776 rows)
Record 153 out of 164 processed. PBI : SUCCESS(5034 rows)
Record 154 out of 164 processed. CCK : SUCCESS(5034 rows)
Record 155 out of 164 processed. NCR : SUCCESS(5034 rows)
Record 156 out of 164 processed. ODP : SUCCESS(5034 rows)
Record 157 out of 164 processed. NWL : SUCCESS(5034 rows)
Record 158 out of 164 processed. BLL : SUCCESS(5034 rows)
Record 159 out of 164 processed. AVY : SUCCESS(5034 rows)
Record 160 out of 164 processed. OMX : SUCCESS(1726 rows)
Record 161 out of 164 processed. RRD : SUCCESS(5034 rows)
Record 162 out of 164 processed. TECD : SUCCESS(5034 rows)
Record 163 out of 164 processed. nan : SUCCESS(5034 rows)
Record 164 out of 164 processed. OMI : SUCCESS(5034 rows)

DONE
------------------
Query Summary
Success: 163
Failed: 1
Total: 164

In [7]:
# reviewing last master_dataset output
lmds_df = pd.read_csv(f'../Resources/Master_Datasets/master_dataset_{int(now)}.csv')
lmds_df

              Date   Open     High    Low  Close    Volume Ticker
0       2019-12-20  69.86  70.2267  69.39  69.94  35091987    XOM
1       2019-12-19  69.99  70.0500  69.24  69.39  13273228    XOM
2       2019-12-18  69.63  70.2900  69.28  69.87  13652100    XOM
3       2019-12-17  69.98  70.3800  69.31  69.68  14450050    XOM
4       2019-12-16  69.70  70.2500  69.70  70.00  15208665    XOM
...            ...    ...      ...    ...    ...       ...    ...
770348  1999-12-27   8.44   8.7500   8.25   8.50     62800    OMI
770349  1999-12-23   8.62   9.0000   8.50   8.56     45267    OMI
770350  1999-12-22   8.13   8.5000   8.06   8.50    259400    OMI
770351  1999-12-21   8.37   8.3700   8.06   8.31    102400    OMI
770352  1999-12-20   8.19   8.3700   8.06   8.37    195067    OMI

[770353 rows x 7 columns]

In [8]:
'''
response:
{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 
500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}
'''

"\nfor making it fast:\n\n\nif response['Note'] = bad_call:\n    while response['Note'] = bad_call:\n        response = requests.get(url, params).json()\n\nbad_call = 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'\n\n\n\nalso remove the wait loops\n\nresponse:\n{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and \n500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}\n"

In [ ]:
'''
recommendation / hybrid:

1open working csv to df to append to
2spam API until get bad_call response
3save off data to dataframe to csv
4wait using system time until next minute i.e. ((time.time)/60).isinteger


'''